:root {
  --gap: 4px; /* even */
  --border-width: 2px;
  --line-height: 14px; /* even */
  --block-height: 32px; /* even */
  --content-height: calc(var(--block-height) - 2 * var(--border-width));
  --perceptual-gap: calc(var(--block-height) - var(--line-height) + var(--gap));
  --compl-gap: calc(var(--perceptual-gap) - (var(--block-height) - var(--line-height)) / 2);
  --large-gap: var(--block-height);
  --gray: #9e9e9e;
  --red: #ff5722;
  --light-gray: #eee;
  --light-yellow: #ffee58;
  --blue: #1890ff;
  --dark-blue: #40a9ff;
}

* {
  box-sizing: border-box;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body {
  margin: 0;
  background-color: var(--light-gray);
  /*   font-family: -apple-system, sans-serif; */
}

@media (min-width: 800px) {
  .linkStack {
    margin: var(--large-gap) auto;
    max-width: 800px;
    border-radius: var(--gap);
  }
}

@media (max-width: 799px) {
  .linkStack {
    margin: 0;
  }

  .linkStack:not(:last-of-type) {
    margin-bottom: var(--large-gap);
  }
}

.linkStack {
  position: relative;
  padding: var(--large-gap);
  background-color: white;
  /*     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

.syncIndicator {
  position: absolute;
  top: var(--line-height);
  right: var(--line-height);
  width: var(--line-height);
  height: var(--line-height);
  border-radius: calc(var(--line-height) / 2);
  background-color: var(--blue);
  opacity: 1;
  animation: blinker .5s linear infinite;
}

.syncIndicator.hidden {
  visibility: hidden;
}

.root {
  display: flex;
  height: 40px;

  align-items: center;
}

.rootSelector {
  margin: 0 var(--gap) 0 calc(var(--block-height) + var(--gap));
  max-width: 50vw;
  width: 400px;
}

.rootTitle {
  margin: 0 var(--large-gap) 0 calc(var(--block-height) + var(--gap));
  font-weight: 100;
  font-size: 32px;
  line-height: 32px;
}

.line {
  display: flex;
  font-weight: 500;
  font-size: var(--line-height);
  line-height: var(--line-height);

  align-items: center;
}

.line:not(:last-of-type) {
  margin-bottom: var(--gap);
}

.root + .line {
  margin-top: var(--large-gap);
}

.line > * {
  flex-shrink: 0;
  flex-grow: 0;
}

.link {
  display: flex;
  border: var(--border-width) solid var(--link-bg);
  border-radius: 3px;
  background-color: var(--link-bg);
  text-decoration: none;

  flex-shrink: 1;
  --link-bg: var(--blue);
}

.link:hover {
  --link-bg: var(--dark-blue);
}

.link > * {
  flex-grow: 0;
  flex-shrink: 0;
}

@media (min-width: 800px) {
  .mainLink {
    max-width: 400px;
  }
}

@media (max-width: 799px) {
  .mainLink {
    max-width: calc(100vw - 2 * var(--large-gap) - var(--block-height) - var(--gap));
  }
}

.sourceLink {
  max-width: 200px;
}

.faviconWrapper {
  display: flex;
  margin-right: var(--border-width);
  width: var(--content-height);
  height: var(--content-height);
  border-radius: var(--radius);
  background-color: white;

  --radius: calc(3px - var(--border-width));
  align-items: center;
  justify-content: center;
}

.favicon {
}

.linkText, .sourceConn, .remove {
  padding: calc((var(--content-height) - var(--line-height)) / 2);
}

.linkText {
  overflow: hidden;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;

  flex-shrink: 1;
}

.remove, .sourceConn {
  width: var(--block-height);
  height: var(--block-height);
  border: var(--border-width) solid transparent;
  color: var(--gray);
  text-align: center;
  /*     background-color: lightcoral; */
}

.remove {
  display: block;
  margin-right: var(--gap);
  cursor: pointer;

  flex-shrink: 0;
}

.remove:hover {
  border-radius: calc(var(--block-height) / 2);
  background-color: var(--red);
  color: white;
}

.sourceConn {
  margin: 0 var(--gap);
}
