@import "~antd/lib/style/themes/default";
@import "~antd/lib/tag/style/index";
@import "~antd/lib/divider/style/index";

@gap: 4px; /* even */
@border-width: @outline-width;
@text-height: @font-size-base; /* even */
@block-height: @btn-height-base; /* even */
@content-height: @block-height - 2 * @border-width;
@perceptual-gap: @block-height - @text-height + @gap;
@complementary-gap: @perceptual-gap - (@block-height - @text-height) / 2;
@large-gap: 24px;

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

* {
  flex-shrink: 0;
}

.secondary-link {
  color: @text-color-secondary;
}

#link-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
  padding: @large-gap;
  padding-bottom: 16px;
  background-color: @background-color-base;

  @media (max-width: 799px) {
    & {
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .content {
    position: relative;
    width: calc(800px - 2 * @large-gap);
    margin-bottom: @large-gap;
    padding-bottom: @large-gap;
    border-radius: @gap;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    @media (max-width: 799px) {
      & {
        width: 100%;
        border-radius: 0;
      }
    }

    .sync-indicator {
      position: absolute;
      top: @text-height;
      right: @text-height;
      width: @text-height;
      height: @text-height;
      border-radius: @text-height / 2;
      background-color: @primary-color;
      animation: blinker 0.5s linear infinite;
      opacity: 1;

      &.hidden {
        visibility: hidden;
      }
    }

    .title-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: @large-gap;
      padding: 16px @large-gap;
      border-bottom: @border-width-base @border-style-base @border-color-split;

      .root-title {
        font-size: @font-size-lg;
        font-weight: 500;
        line-height: @font-size-lg;
      }

      .elastic-space {
        flex-grow: 1;
      }
    }

    .inner-link-stack {
      margin: 0 @large-gap;
      overflow: hidden;

      .line {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        font-size: @text-height;
        font-weight: 500;
        line-height: @text-height;

        &:not(:last-of-type) {
          margin-bottom: @gap;
        }

        .link {
          --link-bg: @primary-color;
          display: flex;
          flex-shrink: 1;
          border: @border-width solid var(--link-bg);
          border-radius: @border-radius-base;
          background-color: var(--link-bg);
          text-decoration: none;

          &:hover {
            --link-bg: @primary-5;
          }

          &.mainLink {
            max-width: calc(100% - 4 * @block-height - @gap);
          }

          &.sourceLink {
            max-width: 200px;
          }

          .favicon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: @content-height;
            height: @content-height;
            margin-right: @border-width;
            border-radius: @border-radius-base - @border-width;
            background-color: white;
          }

          .link-text {
            flex-shrink: 1;
            padding: (@content-height - @text-height) / 2;
            overflow: hidden;
            color: white;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .source-connector,
        .remove {
          width: @block-height;
          height: @block-height;
          padding: (@content-height - @text-height) / 2;
          border: @border-width solid transparent;
          color: @text-color;
          text-align: center;
          transition: none; // overwrite antd/lib/style/core/base.less
          /*     background-color: lightcoral; */
        }

        .remove {
          flex-shrink: 0;
          margin-right: @gap;
          border-radius: @block-height / 2;
          cursor: pointer;
        }

        .remove:hover {
          background-color: @error-color;
          color: @btn-primary-color;
        }
      }
    }

    .inner-link-stack-info {
      max-width: 520px; // Ant Design Modal's default width
      margin: 0 auto;
      padding: 0 @large-gap;
      color: @text-color-secondary;
    }
  }

  .footer {
    a {
      color: @text-color-secondary;

      &:hover {
        text-decoration: underline;
      }
    }

    .@{divider-prefix-cls} {
      background-color: @text-color-secondary;
    }
  }
}

.root-selector {
  width: 100%;
}

span.danger {
  color: @error-color;
}

span.process {
  color: @processing-color;
}

span.keyboard-combi > .@{tag-prefix-cls} {
  margin-right: 0;
}
